**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

# Names

- Adey Ali
- Makeil Ali
- Ayat Alwazir
- Asaki Billawala
- Mohammed Zaid

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis


- Include your team's hypothesis
- Ensure that this hypothesis is clear to readers
- Explain why you think this will be the outcome (what was your thinking?)

What is your main hypothesis/predictions about what the answer to your question is? Briefly explain your thinking. (2-3 sentences)

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## Setup

In [1]:
import pandas as pd

## Press Freedom Index

In [13]:
pfi_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vS41D3NtnoEf1PPnL6QvQtfF1A2ucmUshNhO3lLyqQ4qxEvHbqW-yfV0Ai4Gy9pig/pub?gid=577435231&single=true&output=csv')
pfi_df = pfi_df.drop(columns=['Attribute 1', 'Attribute 2', 'Attribute 3', 'Partner', 'Economy ISO3', 'Indicator ID', 'Indicator'])
pfi_df = pfi_df.rename(columns={'Economy Name': 'Country'})
pfi_df = pfi_df.rename(columns={'2011': 'PFI 2012', '2013' : 'PFI 2013', '2014' : 'PFI 2014', '2015' : 'PFI 2015', '2016' : 'PFI 2016', '2017' : 'PFI 2017', '2018' : 'PFI 2018', '2019' : 'PFI 2019', '2020' : 'PFI 2020', '2021' : 'PFI 2021', '2022' : 'PFI 2022', '2023' : 'PFI 2023'})
pfi_df = pfi_df.iloc[1::2] 
pfi_df = pfi_df.dropna()
pfi_df.set_index('Country', inplace=True)
pfi_df = pfi_df.drop(columns=['2002', '2003', '2004', '2005', '2006', '2007','2008','2009','2010'])

pfi_df

,PFI 2012,PFI 2013,PFI 2014,PFI 2015,PFI 2016,PFI 2017,PFI 2018,PFI 2019,PFI 2020,PFI 2021,PFI 2022,PFI 2023
Country,,,,,,,,,,,,
Afghanistan,150.0,128.0,128.0,122.0,120.0,120.0,118.0,121.0,122.0,122.0,156.0,152.0
Angola,132.0,130.0,124.0,123.0,123.0,125.0,121.0,109.0,106.0,103.0,99.0,125.0
Argentina,48.0,54.0,55.0,57.0,54.0,50.0,52.0,57.0,64.0,69.0,29.0,40.0
Australia,30.0,26.0,28.0,25.0,25.0,19.0,19.0,21.0,26.0,25.0,39.0,27.0
Austria,5.0,12.0,12.0,7.0,11.0,11.0,11.0,16.0,18.0,17.0,31.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,172.0,172.0,174.0,175.0,175.0,175.0,175.0,176.0,175.0,175.0,174.0,178.0
"Yemen, Rep.",171.0,169.0,167.0,168.0,170.0,166.0,167.0,168.0,167.0,169.0,169.0,168.0
South Africa,42.0,52.0,42.0,39.0,39.0,31.0,28.0,31.0,31.0,32.0,35.0,25.0
Zambia,89.0,72.0,93.0,113.0,114.0,114.0,113.0,119.0,120.0,115.0,109.0,87.0
Zimbabwe,121.0,133.0,135.0,131.0,124.0,128.0,126.0,127.0,126.0,130.0,137.0,126.0

## Corruption Perception Index

In [14]:
cpi12_23 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRSOYW-Fr0cijSqRFgF6SNbfzZMb7YUgZUZbDRG0A56WM8S35x3bcB93bDziNmiWQ/pub?gid=708586988&single=true&output=csv')
cpi12_23.columns = cpi12_23.iloc[2]
cpi12_23 = cpi12_23.drop(index=[0, 1, 2])
cpi12_23 = cpi12_23.rename(columns={"Country / Territory": "country"})
cpi12_23 = cpi12_23.rename(columns={
    'CPI Score 2012': 'CPI 2012',
    'CPI Score 2013': 'CPI 2013',
    'CPI score 2014': 'CPI 2014',
    'CPI score 2015': 'CPI 2015',
    'CPI score 2016': 'CPI 2016',
    'CPI score 2017': 'CPI 2017',
    'CPI score 2018': 'CPI 2018',
    'CPI score 2019': 'CPI 2019',
    'CPI score 2020': 'CPI 2020',
    'CPI score 2021': 'CPI 2021',
    'CPI score 2022': 'CPI 2022',
    'CPI score 2023': 'CPI 2023'
})
cpi12_23 = cpi12_23.drop(cpi12_23.columns[[1,2,4,5,6,8,9,10,12,13,14,16,17,18,20,21,22,24,25,26,28,29,30,32,33,35,36,38,39,41,42,44,45]], axis=1)
cpi12_23 = cpi12_23.reset_index(drop=True)
cpi12_23 = cpi12_23.set_index('country')
cpi12_23.dropna()
cpi12_23 = cpi12_23[['CPI 2012', 'CPI 2013', 'CPI 2014', 'CPI 2015', 'CPI 2016', 'CPI 2017', 'CPI 2018', 'CPI 2019', 'CPI 2020', 'CPI 2021', 'CPI 2022', 'CPI 2023']]
cpi12_23

2,CPI 2012,CPI 2013,CPI 2014,CPI 2015,CPI 2016,CPI 2017,CPI 2018,CPI 2019,CPI 2020,CPI 2021,CPI 2022,CPI 2023
country,,,,,,,,,,,,
Afghanistan,8,8,12,11,15,15,16,16,19,16,24,20
Albania,33,31,33,36,39,38,36,35,36,35,36,37
Algeria,34,36,36,36,34,33,35,35,36,33,33,36
Angola,22,23,19,15,18,19,19,26,27,29,33,33
Argentina,35,34,34,32,36,39,40,45,42,38,38,37
...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,19,20,19,17,17,18,18,16,15,14,14,13
Vietnam,31,31,31,31,33,35,33,37,36,39,42,41
Yemen,23,18,19,18,14,16,14,15,15,16,16,16
Zambia,37,38,38,38,38,37,35,34,33,33,33,37
Zimbabwe,20,21,21,21,22,22,22,24,24,23,23,24

## FIFA Men's Ranking

In [15]:
fifa_rankings = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR1-ErfxE_SzHrtVCJC3IPzZdobPJHgxxhkEdz7Crn63LhcSQAXHnXUkeFl3tOFfd6P-ZPUef1hQyca/pub?gid=1330103511&single=true&output=csv')

#filtering data
fifa_rankings = fifa_rankings.drop(columns=['country_abrv', 'rank_change', 'total_points', 'confederation', 'previous_points'])
dates_keep = ['2012-12-19', '2013-12-19', '2014-12-18', '2015-12-03', '2016-12-22', '2017-12-21', '2018-12-20', '2019-12-19', '2020-12-10', '2021-12-23', '2022-12-22', '2023-12-21']
fifa_rankings= fifa_rankings[fifa_rankings['rank_date'].isin(dates_keep)]
fifa_rankings = fifa_rankings.dropna(axis=1, how='all')

#reshape data
fifa_rankings['rank_date'] = pd.to_datetime(fifa_rankings['rank_date'])
fifa_rankings['year'] = fifa_rankings['rank_date'].dt.year
fifa_rankings = fifa_rankings.rename(columns={'country_full': 'country'})
fifa_rankings = fifa_rankings.pivot(index='country', columns='year', values='rank')
fifa_rankings = fifa_rankings.dropna()
fifa_rankings.columns = fifa_rankings.columns.astype(str)
fifa_rankings = fifa_rankings.rename(columns={
    '2012': 'FIFA 2012',
    '2013': 'FIFA 2013',
    '2014': 'FIFA 2014',
    '2015': 'FIFA 2015',
    '2016': 'FIFA 2016',
    '2017': 'FIFA 2017',
    '2018': 'FIFA 2018',
    '2019': 'FIFA 2019',
    '2020': 'FIFA 2020',
    '2021': 'FIFA 2021',
    '2022': 'FIFA 2022',
    '2023': 'FIFA 2023'
})


fifa_rankings

/tmp/ipykernel_2655/1519479606.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa_rankings = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR1-ErfxE_SzHrtVCJC3IPzZdobPJHgxxhkEdz7Crn63LhcSQAXHnXUkeFl3tOFfd6P-ZPUef1hQyca/pub?gid=1330103511&single=true&output=csv')

year,FIFA 2012,FIFA 2013,FIFA 2014,FIFA 2015,FIFA 2016,FIFA 2017,FIFA 2018,FIFA 2019,FIFA 2020,FIFA 2021,FIFA 2022,FIFA 2023
country,,,,,,,,,,,,
Afghanistan,186.0,140.0,143.0,150.0,146.0,148.0,147.0,149.0,150.0,149.0,155.0,158.0
Albania,63.0,57.0,58.0,38.0,49.0,62.0,60.0,66.0,66.0,66.0,66.0,62.0
Algeria,19.0,26.0,18.0,28.0,38.0,58.0,67.0,35.0,31.0,29.0,40.0,30.0
American Samoa,193.0,196.0,200.0,167.0,191.0,194.0,190.0,192.0,192.0,190.0,188.0,188.0
Andorra,204.0,198.0,201.0,201.0,203.0,138.0,133.0,135.0,151.0,155.0,153.0,164.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,131.0,144.0,137.0,147.0,134.0,112.0,100.0,94.0,93.0,98.0,96.0,94.0
Wales,82.0,56.0,34.0,17.0,12.0,19.0,19.0,22.0,18.0,19.0,28.0,29.0
Yemen,164.0,179.0,176.0,174.0,148.0,120.0,135.0,144.0,145.0,151.0,154.0,152.0
Zambia,34.0,69.0,46.0,73.0,88.0,74.0,83.0,88.0,90.0,88.0,88.0,84.0
Zimbabwe,101.0,107.0,108.0,110.0,102.0,103.0,114.0,111.0,108.0,121.0,125.0,124.0

## Gross Domestic Product (GDP) per capita

In [16]:
gdp = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSG40I-MQNxe6O_ehI61_2n46_KFFcf-EDvQJ-u2qkDgP5QdCeJ6R6LMUDkIuT-z8s6-35uoEftasB2/pub?gid=1210288409&single=true&output=csv')
#filtering data
gdp = gdp[(gdp['Year'] >= 2012) & (gdp['Year'] <= 2024)]
gdp = gdp.drop(columns=['Item'])
gdp = gdp.rename(columns={'Country or Area':'Country'})
#reshape data
gdp = gdp.pivot(index='Country',columns='Year',values='Value')
gdp = gdp.dropna()
gdp.columns = gdp.columns.astype(str)
gdp = gdp.rename(columns={
    '2012': 'GDP 2012',
    '2013': 'GDP 2013',
    '2014': 'GDP 2014',
    '2015': 'GDP 2015',
    '2016': 'GDP 2016',
    '2017': 'GDP 2017',
    '2018': 'GDP 2018',
    '2019': 'GDP 2019',
    '2020': 'GDP 2020',
    '2021': 'GDP 2021',
    '2022': 'GDP 2022',
    '2023': 'GDP 2023'
})
gdp

Year,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP 2016,GDP 2017,GDP 2018,GDP 2019,GDP 2020,GDP 2021,GDP 2022,GDP 2023
Country,,,,,,,,,,,,
Afghanistan,647.721984,629.434135,594.661805,552.722397,525.188137,533.339054,513.194331,511.736489,511.480175,379.019110,349.319835,396.015997
Albania,4233.611016,4394.110190,4555.524639,3928.362400,4093.082217,4492.285778,5236.771954,5338.568035,5279.587886,6292.231862,6689.887324,8172.294966
Algeria,5553.263594,5460.354806,5453.636282,4147.453064,3917.536928,4080.111475,4115.062948,4143.420975,3609.615148,4160.569792,4961.552577,5364.027937
Andorra,41500.480790,42470.286580,44369.666880,38654.910370,40129.847310,40672.969170,42819.768720,41257.838110,37361.043510,42425.628260,42414.059010,46812.448450
Angola,5086.027308,5224.790848,5364.803012,4126.517591,3465.153852,4039.176725,3238.416118,2567.880142,1638.840796,2024.349752,3179.559204,2464.010769
...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),12901.408800,12414.277340,12001.362690,11240.312360,9354.822679,8082.723827,6814.602888,5157.754896,3722.339648,3959.796572,4585.614204,4925.466386
Viet Nam,2185.117675,2359.517364,2546.384643,2577.568853,2735.060440,2956.109923,3222.310032,3440.900252,3534.039534,3704.193559,4116.385761,4282.088517
Yemen,1128.065391,1185.663159,1099.179280,796.514820,583.278101,555.791415,782.497787,369.686487,260.595444,243.188488,286.739253,222.334654
Zambia,1666.060830,1726.236541,1678.940306,1272.272200,1217.984404,1485.020018,1463.899906,1259.020024,947.762549,1127.523151,1445.777499,1330.727814
Zimbabwe,1238.601089,1362.300667,1372.212783,1386.422848,1407.415363,1487.978497,1572.738770,1479.534798,1395.305090,1526.734839,1644.066270,1858.425700

# Data Wrangling

### Concatted Datasets

In [19]:
#PFI Country Cleaning
df = pd.concat([pfi_df, cpi12_23, fifa_rankings, gdp], axis=1)
df = df.dropna()
df

,PFI 2012,PFI 2013,PFI 2014,PFI 2015,PFI 2016,PFI 2017,PFI 2018,PFI 2019,PFI 2020,PFI 2021,...,GDP 2014,GDP 2015,GDP 2016,GDP 2017,GDP 2018,GDP 2019,GDP 2020,GDP 2021,GDP 2022,GDP 2023
Afghanistan,150.0,128.0,128.0,122.0,120.0,120.0,118.0,121.0,122.0,122.0,...,594.661805,552.722397,525.188137,533.339054,513.194331,511.736489,511.480175,379.019110,349.319835,396.015997
Angola,132.0,130.0,124.0,123.0,123.0,125.0,121.0,109.0,106.0,103.0,...,5364.803012,4126.517591,3465.153852,4039.176725,3238.416118,2567.880142,1638.840796,2024.349752,3179.559204,2464.010769
Argentina,48.0,54.0,55.0,57.0,54.0,50.0,52.0,57.0,64.0,69.0,...,13179.834730,14833.199680,12699.962240,14532.501000,11752.800030,9955.974856,8535.599420,10738.017960,13935.675780,14187.482740
Australia,30.0,26.0,28.0,25.0,25.0,19.0,19.0,21.0,26.0,25.0,...,62047.646360,52009.802760,53703.280380,57085.774400,57920.550360,54059.531630,55758.834560,67440.576450,67972.126550,67128.630650
Austria,5.0,12.0,12.0,7.0,11.0,11.0,11.0,16.0,18.0,17.0,...,51306.201460,43908.420280,45055.068600,47157.245940,51187.537960,49880.624660,48691.613210,53581.351980,52045.277490,56041.748300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,32.0,27.0,26.0,23.0,20.0,25.0,20.0,19.0,19.0,18.0,...,18021.082460,16947.883310,17009.758420,19184.660550,19249.892320,18315.756750,15789.685170,17887.645340,20690.225980,22796.311630
Uzbekistan,157.0,164.0,166.0,166.0,166.0,169.0,165.0,160.0,156.0,157.0,...,2674.962838,2803.190180,2753.379514,1951.066201,1633.129706,1828.728970,1793.129109,2032.508845,2322.359763,2549.320281
South Africa,42.0,52.0,42.0,39.0,39.0,31.0,28.0,31.0,31.0,32.0,...,6851.515485,6108.330752,5650.894322,6612.920015,6914.177821,6533.711185,5585.834035,6830.894725,6496.972880,5976.385851
Zambia,89.0,72.0,93.0,113.0,114.0,114.0,113.0,119.0,120.0,115.0,...,1678.940306,1272.272200,1217.984404,1485.020018,1463.899906,1259.020024,947.762549,1127.523151,1445.777499,1330.727814
Zimbabwe,121.0,133.0,135.0,131.0,124.0,128.0,126.0,127.0,126.0,130.0,...,1372.212783,1386.422848,1407.415363,1487.978497,1572.738770,1479.534798,1395.305090,1526.734839,1644.066270,1858.425700

### PFI Subset

In [20]:
pfi = df.iloc[:, 0:12]
pfi

,PFI 2012,PFI 2013,PFI 2014,PFI 2015,PFI 2016,PFI 2017,PFI 2018,PFI 2019,PFI 2020,PFI 2021,PFI 2022,PFI 2023
Afghanistan,150.0,128.0,128.0,122.0,120.0,120.0,118.0,121.0,122.0,122.0,156.0,152.0
Angola,132.0,130.0,124.0,123.0,123.0,125.0,121.0,109.0,106.0,103.0,99.0,125.0
Argentina,48.0,54.0,55.0,57.0,54.0,50.0,52.0,57.0,64.0,69.0,29.0,40.0
Australia,30.0,26.0,28.0,25.0,25.0,19.0,19.0,21.0,26.0,25.0,39.0,27.0
Austria,5.0,12.0,12.0,7.0,11.0,11.0,11.0,16.0,18.0,17.0,31.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,32.0,27.0,26.0,23.0,20.0,25.0,20.0,19.0,19.0,18.0,44.0,52.0
Uzbekistan,157.0,164.0,166.0,166.0,166.0,169.0,165.0,160.0,156.0,157.0,133.0,137.0
South Africa,42.0,52.0,42.0,39.0,39.0,31.0,28.0,31.0,31.0,32.0,35.0,25.0
Zambia,89.0,72.0,93.0,113.0,114.0,114.0,113.0,119.0,120.0,115.0,109.0,87.0
Zimbabwe,121.0,133.0,135.0,131.0,124.0,128.0,126.0,127.0,126.0,130.0,137.0,126.0

### CPI Subset

In [21]:
cpi = df.iloc[:, 12:24]
cpi

,CPI 2012,CPI 2013,CPI 2014,CPI 2015,CPI 2016,CPI 2017,CPI 2018,CPI 2019,CPI 2020,CPI 2021,CPI 2022,CPI 2023
Afghanistan,8,8,12,11,15,15,16,16,19,16,24,20
Angola,22,23,19,15,18,19,19,26,27,29,33,33
Argentina,35,34,34,32,36,39,40,45,42,38,38,37
Australia,85,81,80,79,79,77,77,77,77,73,75,75
Austria,69,69,72,76,75,75,76,77,76,74,71,71
...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,72,73,73,74,71,70,70,71,71,73,74,73
Uzbekistan,17,17,18,19,21,22,23,25,26,28,31,33
South Africa,43,42,44,44,45,43,43,44,44,44,43,41
Zambia,37,38,38,38,38,37,35,34,33,33,33,37
Zimbabwe,20,21,21,21,22,22,22,24,24,23,23,24

### FIFA Subset

In [22]:
fifa = df.iloc[:, 24:36]
fifa

,FIFA 2012,FIFA 2013,FIFA 2014,FIFA 2015,FIFA 2016,FIFA 2017,FIFA 2018,FIFA 2019,FIFA 2020,FIFA 2021,FIFA 2022,FIFA 2023
Afghanistan,186.0,140.0,143.0,150.0,146.0,148.0,147.0,149.0,150.0,149.0,155.0,158.0
Angola,84.0,88.0,80.0,105.0,143.0,141.0,125.0,124.0,125.0,126.0,117.0,117.0
Argentina,3.0,3.0,2.0,2.0,1.0,4.0,11.0,9.0,7.0,5.0,2.0,1.0
Australia,36.0,58.0,100.0,57.0,47.0,38.0,41.0,42.0,41.0,35.0,27.0,25.0
Austria,70.0,46.0,23.0,10.0,31.0,29.0,22.0,26.0,23.0,31.0,34.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,16.0,6.0,10.0,11.0,9.0,21.0,7.0,5.0,8.0,17.0,16.0,11.0
Uzbekistan,67.0,68.0,74.0,74.0,62.0,78.0,95.0,85.0,85.0,84.0,77.0,68.0
South Africa,87.0,62.0,52.0,72.0,60.0,81.0,72.0,71.0,71.0,68.0,67.0,66.0
Zambia,34.0,69.0,46.0,73.0,88.0,74.0,83.0,88.0,90.0,88.0,88.0,84.0
Zimbabwe,101.0,107.0,108.0,110.0,102.0,103.0,114.0,111.0,108.0,121.0,125.0,124.0

### GDP Subset

In [23]:
gdp = df.iloc[:, 36:]
gdp

,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP 2016,GDP 2017,GDP 2018,GDP 2019,GDP 2020,GDP 2021,GDP 2022,GDP 2023
Afghanistan,647.721984,629.434135,594.661805,552.722397,525.188137,533.339054,513.194331,511.736489,511.480175,379.019110,349.319835,396.015997
Angola,5086.027308,5224.790848,5364.803012,4126.517591,3465.153852,4039.176725,3238.416118,2567.880142,1638.840796,2024.349752,3179.559204,2464.010769
Argentina,13790.492670,14403.021790,13179.834730,14833.199680,12699.962240,14532.501000,11752.800030,9955.974856,8535.599420,10738.017960,13935.675780,14187.482740
Australia,69650.833150,66447.478940,62047.646360,52009.802760,53703.280380,57085.774400,57920.550360,54059.531630,55758.834560,67440.576450,67972.126550,67128.630650
Austria,48241.192580,50295.965410,51306.201460,43908.420280,45055.068600,47157.245940,51187.537960,49880.624660,48691.613210,53581.351980,52045.277490,56041.748300
...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,15799.998430,17924.481240,18021.082460,16947.883310,17009.758420,19184.660550,19249.892320,18315.756750,15789.685170,17887.645340,20690.225980,22796.311630
Uzbekistan,2320.924608,2461.979474,2674.962838,2803.190180,2753.379514,1951.066201,1633.129706,1828.728970,1793.129109,2032.508845,2322.359763,2549.320281
South Africa,8076.909270,7327.967173,6851.515485,6108.330752,5650.894322,6612.920015,6914.177821,6533.711185,5585.834035,6830.894725,6496.972880,5976.385851
Zambia,1666.060830,1726.236541,1678.940306,1272.272200,1217.984404,1485.020018,1463.899906,1259.020024,947.762549,1127.523151,1445.777499,1330.727814
Zimbabwe,1238.601089,1362.300667,1372.212783,1386.422848,1407.415363,1487.978497,1572.738770,1479.534798,1395.305090,1526.734839,1644.066270,1858.425700

# Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Section 1 of EDA - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### Section 2 of EDA if you need it  - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |